div.box-1  {
    margin-right: 40px;
    margin-left: 40px;
  
  }
  button{
      background-color: teal;
      color: white;
      box-sizing: 40px;
      border-radius: 30px;
      border: teal;
  }
  div.box-2  {
      margin-right: 40px;
      margin-left: 40px;
    
      
    }
    body{
        background-color: aquamarine;
    }
    #main-footer{
        background: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }